{% extends 'registration/base.html' %}
{% block title %}{% endblock %}
{% block title-meta %}
عملیات با موفقیت انجام شد.
{% endblock %}

{% block main %}
<div class="col-md-8 mx-auto ">
    <div class="card card-success justify-content-center">
        <div class="card-header text-center">
            <h3 class="card-title mb-0 float-left py-2 ">تغییر رمز عبور</h3>
        </div>
        <div class="card-body py-4">

            <p class="py-3 text-center text-lg">
                        گذرواژه با موفقیت تغییر یافت.
            </p>
        </div>
    </div>
</div>
{% endblock %}


