{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>   ثبت نام در سایت
    </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	

	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/favicon-16x16.png' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	

	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/rtl.css' %}">
<!--===============================================================================================-->
	
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
					{% if form.non_field_errors %}
						<div class="errors">
							<span>{{form.non_field_errors }}</span>
						</div>
					{% endif %}

                    
					{% csrf_token %}
					<span class="login100-form-title p-b-43">
                        ثبت نام در سایت
                      
					</span>

                        <div style="position:absolute;top:40px">
                            {% if form.username.errors %}
                                <div style="color:red;">
                                    <h6>{{form.username.errors}}</h6>
                                </div>
                            {% endif %} 

                            {% if form.email.errors %}
                                    <div style="color:red;">
                                        <h6>{{form.email.errors}}</h6> 
                                    </div>
                            {% endif %}


                            {% if form.password1.errors %}
                                    <div style="color:red;">
                                        <h6>{{form.password1.errors}}</h6> 
                                    </div>
                            {% endif %} 


                            {% if form.password2.errors %}
                                    <div style="color:red;">
                                        <h6>{{form.password2.errors}}</h6>		
                                    </div>
                            {% endif %}
                        </div>
                

					<div class="wrap-input100 validate-input">
						{{form.username|add_class:'input100'}}

						<span class="focus-input100"></span>
						<span class="label-input100">نام کاربری</span>
                        
                       
					</div>
                    
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						{{form.email|add_class:'input100'}}

					
						<span class="focus-input100"></span>
						<span class="label-input100">ایمیل</span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
							{{form.password1|add_class:'input100'}}

						<span class="focus-input100"></span>
						<span class="label-input100">گذرواژه</span>
					</div>
                   

					<div class="wrap-input100 validate-input" data-validate="Password is required">
							{{form.password2|add_class:'input100'}}

						<span class="focus-input100"></span>
						<span class="label-input100">تایید گذرواژه</span>
					</div>
                    

            

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<span>
							آیا حسابی دارید
							</span>
                            <a href="{% url 'login' %}" class="txt1">
                                وارد شوید
                                </a>
                        </div>
					</div>
                   

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							ثبت نام
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							ورود با
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" style="border-radius: 5px;width:75px;background-color: red;color:beige;"  class="login100-form-social-item flex-c-m bg2 m-r-5">
							Goggle
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('{% static 'registration/login/images/bg-01.jpg' %}');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'registration/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'registration/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/js/main.js' %}"></script>

</body>
</html>
    






